<nav class="w-full bg-red-900 py-4 px-6 fixed top-0 shadow-lg">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <div
            class="text-yellow-400 font-bold font-teko text-4xl uppercase tracking-widest"
        >
            Soviet Linux
        </div>

        <div class="hidden md:flex space-x-6">
            <a
                href="https://github.com/Soviet-Linux"
                class="text-yellow-300 hover:text-yellow-500 transition-colors duration-300 font-bold uppercase"
                target="_blank"
            >
                GitHub
            </a>
            <a
                href="https://matrix.to/#/#sovietlinux:nope.chat"
                class="text-yellow-300 hover:text-yellow-500 transition-colors duration-300 font-bold uppercase"
                target="_blank"
            >
                Matrix
            </a>
            <a
                href="https://github.com/Soviet-Linux/OUR"
                class="text-yellow-300 hover:text-yellow-500 transition-colors duration-300 font-bold uppercase"
                target="_blank"
            >
                Repo
            </a>
        </div>
    </div>
</nav>
